.shotmap-court *{
    fill: transparent;
    stroke: rgb(177 68 68 / 65%);
    stroke-width: 0.2
}

.shotmap-court-ft-circle-bottom{
    stroke-dasharray: 1.5, 1
}

.shotmap-court-hoop,.shotmap-court-backboard{
    z-index: 100
}

#heatmap{
    left: 15px;
    top: 220px;
    position: absolute;
}

#court{
    left: 15px;
    top: 220px;
    position: absolute;
}

#playerlinechart{
    left: 900px;
    top: 220px;
    position: absolute;
}

#shottypelinechart{
    left: 500px;
    top: 1200px;
    position: absolute;
}