.shotmap-court *{
    fill: transparent;
    stroke: rgb(177 68 68 / 65%);
    stroke-width: 0.2
}

.shotmap-court-ft-circle-bottom{
    stroke-dasharray: 1.5, 1
}

.shotmap-court-hoop,.shotmap-court-backboard{
    z-index: 100
}

#heatmap{
    left: 15px;
    top: 220px;
    position: absolute;
}

#court{
    left: 15px;
    top: 220px;
    position: absolute;
}

#playerlinechart{
    left: 900px;
    top: 220px;
    position: absolute;
}

#teamlinechart{
    left: 900px;
    top: 1050px;
    position:absolute;
}

#shottypelinechart{
    left: 0px;
    top: 1050px;
    position: absolute;

} 

#threepointrev{
    left: 2150px;
    top:220px;
    position: absolute;
}

#legend{
    left: 15px;
    top: 220px;
    position: absolute;
}

.overlay{
    left: 500px;
    top: 400px;
    position: relative;
}

.tooltip {
    position: absolute;
    pointer-events: none;
    background-color: white;
    color: black;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 10px;
}